header {
    display: flex;
    justify-content: space-between;
    background-color: #dc626f;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "Fira Code", monospace;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #6bb18c;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #6bb18c;
    box-shadow: 5px 5px 0px #000;
    height: 60px;
    padding: 0 20px;
    margin-right: 0;
    line-height: 60px;
    transition: transform 200ms linear, opacity 200ms ease-in-out;
}

a:hover {
    transform: scale(1.08);
    opacity: 0.9;
}
