.box-title {
    background: #3a4042;
    position: absolute;
    width: 627px;
    height: 184px;
    left: 91px;
    top: 196px;
    filter: drop-shadow(10px 10px 0px #000000);
}

h1,
h2 {
    font-family: "Press Start 2P", cursive;
}

h1 {
    color: #6bb18c;
    text-shadow: 4px 4px 0px #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    width: 520px;
    height: 40px;
    left: 181px;
    top: 238px;
    padding-top: 42px;
    margin: auto;
}

h2 {
    color: #fff;
    text-shadow: 4px 4px 0px #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    padding-top: 33px;
    margin: auto;
    width: 600px;
    height: 30px;
}

.btn-green {
    display: inline-block;
    background-color: #6bb18c;
    box-shadow: 5px 5px 0px #000;
    height: 60px;
    padding: 0 20px;
    margin-right: 0;
    line-height: 60px;
    transition: transform 200ms linear, opacity 200ms ease-in-out;
}

.box-btn {
    position: absolute;
    width: 627px;
    height: 184px;
    left: 181px;
    top: 418px;
}

.box-btn a:nth-child(1) {
    margin-right: 112px;
}

.section-title {
    height: 786px;
    border-bottom: 10px solid #000;
    z-index: 1000;
    position: relative;
}

.box-img-normal {
    position: absolute;
    width: 1440px;
    height: 786px;
    left: 0px;
    top: 90px;

    background: no-repeat url(../assets/img/imagems.png);
    background-size: cover;
}
