.main-button {
    display: inline-block;
    background-color: #6bb18c;
    box-shadow: 5px 5px 0px #000;
    height: 60px;
    padding: 0 20px;
    margin-right: 0;
    line-height: 60px;
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48);
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.main-button:hover {
    transform: scale(1.08);
    opacity: 0.94;
    cursor: pointer;
}

.main-button.-full {
    width: 100%;
}

.main-button.-full:hover {
    transform: scale(1.02);
}