.main-banner {
    box-sizing: border-box;
    background-image: url(../../assets/img/imagem.png);
    height: 754px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 10px solid #000;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 675px;
}

.main-banner .box {
    margin-bottom: 40px;
    margin-top: 115px;
    margin-left: 90px;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
    margin-left: 90px;
}
