.node-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.node-card::before {
    content: ' ';
    position: absolute;
    box-sizing: border-box;
    height: 0px;
    width: 40px;
    border: 2.5px dashed #000;
    transform: rotate(90deg) translateX(-62%);
    bottom: 140px;
}

.node-card .title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #6bb18c;
    margin-bottom: 50px;
}

.node-card .logo {
    display: flex;
    align-items: center;
    height: 140px;
    border: 5px solid #000000;
    /* padding-right: 5px;
    padding-left: 5px; */
    background-color: #fff;
}

.node-card-.clean .logo {
    padding: 0;
}

.node-card.-brq .logo {
    background-color: #005f9c;
}