.wrapper-project {
    display: flex;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.wrapper-project .icon {
    box-shadow: 10px 10px 0 #fff;
    width: 280px;
    height: 280px;
    margin: auto;
}
